<!DOCTYPE html>
<html>
  <head>
    <title>Iamindexed - Check if Your Website is Indexed on Popular Search Engines</title>
    <meta name="description" content="Iamindexed is a convenient domain search app that instantly checks if your website is indexed by popular search engines. Discover if your domain appears in search results on Google, Bing, Yahoo, and more. Gain valuable insights into your website's visibility with a simple search. Try Iamindexed today and find out if your website is indexed.">
    <meta name=”robots” content="index, follow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer data-domain="iamindexed.com" src="https://plausible.a-chacon.com/js/script.js"></script>
  </head>

  <body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="background-image: url('header.png');">
    <%= render "layouts/navbar" %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
